In [7]:
import pandas as pd
import sqlite3
import math 
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from IPython.core.display import display, HTML
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))

In [8]:
conn = sqlite3.connect('database.db')

In [9]:
c = conn.cursor()

<img src="dw.png"/>

In [10]:
c.executescript('drop table if exists kontraktor')
c.executescript('drop table if exists produk')
c.executescript('drop table if exists time')
c.executescript('drop table if exists sales')
c.execute("CREATE TABLE IF NOT EXISTS 'kontraktor' ('kode_kontraktor' INT, 'nama_kontraktor' VARCHAR(255) NULL,'kontak_person' VARCHAR(255) NULL, PRIMARY KEY ('kode_kontraktor'))")
c.execute("CREATE TABLE IF NOT EXISTS 'produk' ('id_produk' INT, 'nama_produk' VARCHAR(255) NULL,'kategori_produk' VARCHAR(255) NULL, PRIMARY KEY ('id_produk'))")
c.execute("CREATE TABLE IF NOT EXISTS 'time' ('id_time' INT, 'bulan' VARCHAR(255) NULL, PRIMARY KEY ('id_time'))")
c.execute("CREATE TABLE IF NOT EXISTS 'sales' ( 'id_fact' INT, 'id_time' INT, 'kode_kontraktor' INT, 'id_produk' INT, 'jumlah_pesanan' INT, PRIMARY KEY ('id_fact'), FOREIGN KEY ('id_time') REFERENCES 'time' ('id_time') ON DELETE NO ACTION ON UPDATE NO ACTION, FOREIGN KEY ('kode_kontraktor') REFERENCES 'kontraktor' ('kode_kontraktor') ON DELETE NO ACTION ON UPDATE NO ACTION, FOREIGN KEY ('id_produk') REFERENCES 'produk' ('id_produk') ON DELETE NO ACTION ON UPDATE NO ACTION)")

In [11]:
df = pd.read_csv("data dw.csv")
df

,Bulan Pemesanan,Nama Produk,Kontraktor,Kode Produk,Quantity,Contact person
0,Januari,Lampu LED 20 Watt,CV. Selaras,Uniled 20 Watt,10,Bapak Fauzi
1,Januari,Lampu LED 30 Watt,CV. Selaras,Uniled 30 Watt,30,Bapak Fauzi
2,Januari,Solar Cell 50 WP,CV. Selaras,SC 50 WP,500,Bapak Fauzi
3,Januari,Regulator,CV. Selaras,BCR,70,Bapak Fauzi
4,Januari,Lampu LED 20 Watt,PT. Panji Makmur,Uniled 20 Watt,40,Bapak Rosidi
...,...,...,...,...,...,...
145,Desember,Solar Cell 50 WP,PT. Aditarwan,SC 50 WP,60,Bapak Aditya
146,Desember,Penerangan Jalan Umum 60 Watt,CV. Metec,PJU 60 Watt,50,Bapak Rudi
147,Desember,Lampu Land Scape 40 Watt,CV. Metec,LLS 40 Watt,30,Bapak Rudi
148,Desember,Lampu Heavy Duty 40 Watt,CV. Metec,LHD 40 Watt,20,Bapak Rudi
149,Desember,Lampu Industri 40 Watt,CV. Metec,LI 40 Watt,40,Bapak Rudi